body {
  padding: 0px;
  margin: 0px;
  font-weight: 150;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.container {
  width: 100vw;
  height: 65vh;
  gap: 2rem;
  display: flex;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-nav {
  width: 100vh;
}
.header-nav nav ul {
  display: flex;
  width: 100vw;
  column-gap: 2rem;
  border-bottom: 1px solid #ddd9d9;
  align-items: end;
}
.header-nav nav ul li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 10px;
}
.header-nav nav ul li:hover {
  border-bottom: 3px solid #4286f4;
  padding-bottom: 7px;
  color: #4286f4;
}
.google-logo {
  padding-right: 2rem;
}
.google-apps-dot {
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  flex: 1;
  margin: 1px;
}
.google-apps-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.google-apps {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  border-radius: 50px;
  margin-right: 20px;
}
.google-profile {
  height: 25px;
  margin-right: 20px;
}
.google-profile button {
  background-color: #4286f4;
  color: white;
  font-size: 12px;
  border: #4286f4;
  padding: 5px;
  border-radius: 4px;
}

.search-bar {
  display: flex;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  margin: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.search-bar div {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.search-bar:hover {
  box-shadow: 1px 1px 3px 1px #dfe1e5;
}
.search-bar input {
  width: 425px;
  height: 20px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  margin-left: 10px;
}
